.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
.phpunit.result.cache
*.log
.DS_Store
Thumbs.db
tests
.editorconfig
.gitignore
.gitattributes
phpunit.xml
README.md
docker-compose.yml
